﻿    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        background-color: #eee;
        color: #444;
        padding: 18px;
        width: 90%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }
    /*Add state indicator button */
    .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ccc;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
    }
  .accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}
  
.redText { color:Red; }
p {
    padding: 3px 5px; 
    margin:0px;
}

.divError {
    color: #DD0000;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 5px;
}

div{
    padding-bottom:8px;
}
