﻿.validation-summary-container {
    display: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 10px;
    padding-left: 10px,;
}

.errormark.validation-summary-container {
    background-color: #fdd6d7;
    border-color: #ff0000;
}

.validation-summary-errors.errormark::before {
    background: url("/Homestay/images/iconMessages.png") 0px -48px;
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    overflow: hidden;
}

.validation-summary-errors.errormark > span {
    padding-left: 32px;
    display: none;
}

.validation-summary-errors.errormark > UL {
    padding-left: 50px;
}



.validation-summary-container.errormark {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 10px;
    padding-left: 10px,;
}




.validation-summary-container > DIV {
    padding-top: 8px;
    padding-left: 8px;
}


.successmark.validation-summary-container {
    background-color: #90b60d;
    border-color: white;
}

/*For success */

.validation-summary-success.successmark::before {
    background: url("../../images/iconMessages.png") 0px -24px;
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    overflow: hidden;
}

.validation-summary-success.successmark > span {
    color: white;
    padding-left: 32px;
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
}

.validation-summary-success.successmark > UL {
    padding-left: 50px;
}


.validation-summary-container.successmark {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin: 10px;
    padding-left: 10px;
}

   
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
