﻿<br/>
<strong>Subject :</strong> {{individualReport.subject}} <br/>
<strong>From : </strong> {{individualReport.fromEmail}} <br />
<strong>To : </strong>
    <textarea ng-model="individualReport.toEmail" style="height: 50%; width: 100%;" disabled> </textarea>  <br />
<strong>CC : </strong> 
    <textarea ng-model="individualReport.ccEmail" style="height: 50%; width: 100%;" disabled> </textarea>  <br /><br />

<textarea ckeditor="editorOptions" ng-model="individualReport.emailContent" disabled></textarea>  <br/>
<strong><span class="oi oi-paperclip" title="addTemplate" aria-hidden="true"></span> : </strong> {{individualReport.attachments}} <br />
