﻿<!--{{demo}}-->
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">CC</th>
            <th scope="col">Timestamp</th>
            <!--<th scope="col">Action</th>-->

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in emailReports">
            <td><a href="#!individualReport/{{x.reportID}}">{{$index+1}}</a></td>
            <td><a href="#!individualReport/{{x.reportID}}">{{x.subject}}</a></td>
            <td>{{x.fromEmail}}</td>
            <td>{{x.countTo}}</td>
            <td>{{x.countCC}}</td>
            <td>{{x.timestamp}}</td>
            <!--
            <td>
                <button type="button" class="btn btn-primary" ng-click="ShowHideEdit($index)">
                    <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="deleteTemplate($index)">
                    <span class="oi oi-x" title="remove" aria-hidden="true"></span>
                </button>
            </td>
                -->


        </tr>

    </tbody>
</table>