﻿<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 text-left"><strong>Subject :</strong></div>
        <div class="col-md-11 text-left">{{individualReport.subject}}</div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left"><strong>From : </strong></div>
        <div class="col-md-11 text-left">{{individualReport.fromEmail}}</div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left"><strong>To : </strong></div>
        <div class="col-md-11"><textarea ng-model="individualReport.toEmail" style="height: 50%; width: 100%;" disabled> </textarea></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left"><strong>CC : </strong> </div>
        <div class="col-md-11"><textarea ng-model="individualReport.ccEmail" style="height: 50%; width: 100%;" disabled> </textarea></div>
    </div>
    <div class="row">
        <div class="col-md-1 text-left"><strong>Content : </strong> </div>
        <div class="col-md-11">
            <textarea ckeditor="editorOptions" ng-model="individualReport.emailContent" disabled></textarea> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"><strong><span class="oi oi-paperclip" title="addTemplate" aria-hidden="true"></span> : </strong>   </div>
        <div class="col-md-11 text-left">
            {{individualReport.attachments}}
           
        </div>
    </div>
</div>

  

