﻿<!--{{demo}}-->

<div class="col-sm-4">
    <input type="search" class="form-control" placeholder="Search Subject..." ng-model="searchSubject" />
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">CC</th>
            <th scope="col">Timestamp</th>
            <!--<th scope="col">Action</th>-->

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in emailReports | filter :searchSubject">
            <td><a href="#!individualReport/{{x.reportID}}">{{$index+1}}</a></td>
            <td><a href="#!individualReport/{{x.reportID}}">{{x.subject}}</a></td>
            <td>{{x.fromEmail}}</td>
            <td>{{x.countTo}}</td>
            <td>{{x.countCC}}</td>
            <td>{{x.timestamp}}</td>
           


        </tr>

    </tbody>
</table>