﻿ <!-- {{emailTemplates[0].templateID}} -->
<!--
<select ng-model="selectedName" ng-options="x for x in names"></select>
{{selectedName}}-->


<form class="form-horizontal">
    <div class="form-group" style="padding-bottom:40px">
        <label class="control-label col-sm-2" for="fromEmail">From:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" ng-model="emailObj.FromEmail" disabled>
         </div>
    </div>
   
    
    <div class="form-group" style="padding-bottom:40px">
        <label class="control-label col-sm-2" for="emailGroup">Email Group:</label>
        <div class="col-sm-10">
            <select ng-model="group" ng-change="getEmailsByGroup()" class="form-control">
                <option ng-repeat="x in groups" value="{{x.Name}}">{{x.Name}}</option>
            </select>
           
        </div>
    </div>

    
    <div class="form-group" style="padding-bottom:50px">
        <label class="control-label col-sm-2" for="toEmail">Emails:
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" role="button" aria-hidden="true" title="Emails can be appended with comma delimiter!"></span>
        </label>
        
        <div class="col-sm-10">
            <textarea class="form-control" ng-model="emails" style="width:100%;" ng-change="updateEmails()"></textarea>
            <!--{{emails}}-->
            
        </div>
    </div>
    
    <div class="form-group" style="padding-bottom:50px">
        <label class="control-label col-sm-2" for="toEmail">
            CC:
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" role="button" aria-hidden="true" title="Emails can be appended with comma delimiter!"></span>
        </label>

        <div class="col-sm-10">
            <textarea class="form-control" ng-model="ccEmails" style="width:100%;" ng-change="updateCCEmails()"></textarea>
            <!--{{ccEmails}}-->

        </div>
    </div>
    
    <div class="form-group" style="padding-bottom:40px">
        <label class="control-label col-sm-2" for="Subject" >Subject:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="emailObj.Subject" placeholder="Subject...">
        </div>
    </div>
    
    <div class="form-group" style="padding-bottom:40px">
        <label class="control-label col-sm-2" for="Template">Template:</label>
       
        <div class="col-sm-10">
            <select ng-model="selectedTemplate" ng-options="x.templateName for x in emailTemplates" ng-change="addSignature()" class="form-control">
                
            </select>
            <!-- <input type="text" class="form-control"  ng-model="emailObj.Body"> -->
            <!--
            <a href="TemplateAdmin.aspx" target="_blank" data-toggle="tooltip" title="A new tab will be opened for you to manage templates!">
                <span class="oi oi-cog" title="addTemplate" aria-hidden="true"></span> Manage template(s)
            </a>
                -->
        </div>
    </div>
   
    <div class="form-group" style="padding-bottom:40px">
        <label class="control-label col-sm-2" for="Preview">Content Preview:</label>
        <div class="col-sm-10">
           <!-- <textarea ckeditor="editorOptions" ng-model="selectedTemplate.templateContent"></textarea> -->
            <textarea ng-model="selectedTemplate.templateContent" data-ck-editor></textarea>
        </div>
    </div>
    

    {{content}}
    <div class="form-group" >
        <div class="col-sm-offset-2 col-sm-10">
            <br />
            <button type="button" class="btn btn-default" ng-click="attachFileModal()" data-toggle="tooltip" title="You must upload files before you can attach files to the email!">
                <span class="oi oi-paperclip" title="addTemplate" aria-hidden="true"></span> Attach file(s)
            </button>

            <a href="AttachfileUpload.aspx" target="_blank" data-toggle="tooltip" title="A new tab will be opened for you to upload files!">
                <span class="oi oi-cloud-upload" title="addTemplate" aria-hidden="true"></span> Upload file(s)
            </a>
            <br />
            <label ng-repeat="x in attachments" style="display:block">
                {{x}}
            </label>
            <br />
            <div data-loading> </div>  
            <button type="button" class="btn btn-success" ng-click="send()">Send</button> <br /><br />
        </div>
    </div>
    
   

    <!-- {{selectedTemplate.templateContent}} -->
    
    <!-- Modal -->
    <div id="attachFileModalID" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="height:60%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Attach File</h4>
                </div>
                <div class="modal-body">
                    <p>Select File(s) to attach:</p>
                    <label ng-repeat="x in attached" style="display:block">
                        <input type="checkbox" ng-model="x.selected" value="{{x.name}}">
                        <a href="/InternetContent/Homestay/EmailAttachments/{{x.name}}" target="_blank">{{x.name}}</a>
                    </label>
                    <!-- <p>{{attached}}</p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveAttachment()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div id="individualEmail" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:80%;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" ng-model="searchName" placeholder="Search name..." />
                   
                    <p>Select Email(s):</p>
                    <!--
                    <label ng-repeat="x in selectedEmail | filter: searchEmail" style="display:block">
                        <input type="checkbox" ng-model="x.selected" value="{{x.name}}">{{x.name}}
                    </label>
                        -->
                    
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in selectedEmail | filter :{name : searchName }">
                                <td>
                                    <input type="checkbox" ng-model="x.selected">
                                </td>
                                <td ng-model="templateName">{{x.name}}</td>
                                <td>
                                    {{x.email}}
                                </td>

                            </tr>

                        </tbody>
                    </table>
                   <!-- {{selectedEmail}}-->
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveSelectedEmails()" data-toggle="tooltip" title="You must close after saving selection!">Save</button>
                    <button type="button" class="btn btn-default" ng-click="saveSelectedEmails()" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
   
   

</form>





<br/>
<!--
<h1>Method 1</h1>
<textarea ng-model="content" data-ck-editor></textarea>

{{content}}
    -->
<hr>

