﻿
    <!-- Modal for Edit/Add -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width:90%;height:80%">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <!-- main -->
                    <div>
                        <div class="form-group">
                            <label for="Template">Template Name:</label>
                            <input type="Text" class="form-control" ng-model="selectedTemplate.templateName">
                        </div>
                        <div class="form-group">
                            <label for="comment">Content Preview:</label>

                            <!-- <textarea ckeditor="editorOptions" ng-model="selectedTemplate.templateContent"></textarea> -->
                            <textarea ng-model="selectedTemplate.templateContent" data-ck-editor></textarea>
                        </div>
                        <!-- {{selectedTemplate.templateName}}{{selectedTemplate.templateContent}} -->

                    </div>
                    <!-- End main -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveTemplate()" ng-show="isEdit">Save</button>
                    <button type="button" class="btn btn-primary" ng-click="addTemplate()" ng-show="isAdd">Add</button>
                    <!-- <button  type="button" class="btn btn-primary" ng-click="resetTemplate()" >Reset</button>  -->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- End Modal for Edit/Add -->
    <h1>Manage Templates</h1>
    <div class="row">
        <div class="col-sm-4">
            <input type="search" class="form-control" placeholder="Search Template Name..." ng-model="searchName" />
        </div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-success pull-right" ng-click="addTemplateForm()">
                <span class="oi oi-plus" title="addTemplate" aria-hidden="true"></span> Add new template
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">#</th>
                <th scope="col">Template Name</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in emailTemplates | filter :searchName">
                <!-- <th scope="row">{{x.templateID}}</th> -->
                <td><a href="" ng-click="ShowHideEdit($index)"> {{$index+1}} </a></td>
                <td ng-model="templateName"><a href="" ng-click="ShowHideEdit($index)">{{x.templateName}}</a></td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="ShowHideEdit($index)">
                        <span class="oi oi-pencil" title="edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteTemplate($index)">
                        <span class="oi oi-x" title="remove" aria-hidden="true"></span>
                    </button>
                </td>

            </tr>

        </tbody>
    </table>
    <!--
    <div ng-show="IsVisible">
        {{selectedTemplate.templateID}} <br />
        <div class="form-group">
        <label for="Template">Template Name:</label>
            <input type="Text" class="form-control" ng-model="selectedTemplate.templateName">
        </div>
        <div class="form-group">
          <label for="comment">Content Preview:</label>

            <textarea ckeditor="editorOptions" ng-model="selectedTemplate.templateContent"></textarea>
        </div>
        {{selectedTemplate.templateName}}{{selectedTemplate.templateContent}}
         <button  type="button" class="btn btn-primary" ng-click="saveTemplate()">Save</button>
        <button  type="button" class="btn btn-primary" ng-click="addTemplate()" >Add</button>
        <button  type="button" class="btn btn-primary" ng-click="resetTemplate()" >Reset</button> <br/>
    </div>
    -->
